/* Estilo Global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000e1;
    color: #ffffff;
    padding: 50px;
    margin: 0;
}

/* Estilo do Cabeçalho */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.date-card {
    position: relative;
    top: 10px;
    right: 10px;
    background: rgba(0, 119, 255, 0.219);
    color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 153, 255, 0);
    backdrop-filter: blur(5px);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid transparent;
}

.date-card:hover {
    background-color: rgba(0, 119, 255, 0.6);
;
    transform: scale(1.10);
}

/* Estilo do Botão de Ajuda */
.ajuda-button {
    background-color: #0d70249f;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 9px 9px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s;
    margin-top: 0px;
}

.ajuda-button:hover {
    background-color: #00ff378f;
    transform: scale(1.10);
}

/* Estilo do Container do Admin */
.admin-container {
    text-align: center;
    background: #1e1e1e;
    padding: 8px;
    border-radius: 9px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.13);
    width: 100%;
    max-width: 1000px;
}

.admin-container img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Estilo do Container Principal */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 2fr));
    gap: 50px;
    max-width: 800px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Estilo das Cartas */
.dupla {
    background: #202020;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    z-index: 0;
}

.card {
    text-align: center;
    flex: 1;
    transition: transform 0.5s, box-shadow 0.5s;
    position: relative;
    z-index: 0;
}

.card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 0.1px;
}

.card:hover {
    transform: scale(1.1);
}

/* Estilo dos Ícones */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1px;
}

.partido-icon {
    width: 60px;
    height: 60px;
}

/* Estilo das Mensagens */
.mensagem {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #ff5722;
    animation: fadeIn 1s ease-in-out;
}

.link-nome {
    color: #7b80ca;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.link-nome:hover {
    text-decoration: underline;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pulse {
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

/* Estilo do Cartão do Mapa */
.map-card {
    background: #1e1e1e;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 4px;
    width: 270px;
    margin: 0px;
    border-radius: 7px;
    transition: transform 0.4s;
}

.map-card:hover {
    transform: scale(1.30);
}

.map-card img {
    border-radius: 2px;
    width: 100%;
    height: auto;
}

.map-title {
    margin-top: 10px;
    font-weight: bold;
}

/* Estilo da Sobreposição */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
}

/* Estilo do Container do Widget */
.widget-container {
    display: none;
    background-color: #1e1e1e;
    border: 2px solid #444;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.widget-container h2 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 15px;
}

.pix {
    font-weight: bold;
    color: #28a745;
    font-size: 1.2em;
}

/* Estilo do Valor Arrecadado */
.valor-arrecadado {
    margin-top: 15px;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    background-color: #28a745;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #1e7e34;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

/* Estilo da Descrição */
.descricao {
    font-size: 0.95em;
    color: #ccc;
    margin-bottom: 10px;
}

/* Estilo do Botão */
.button {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #218838;
}

/* Estilo da Mensagem de Cópia */
.copy-message {
    margin-top: 10px;
    font-size: 0.9em;
    color: #28a745;
    display: none;
}
